<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">World</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Help</h4></li>
    <li><ul>
      <li><a href="https://gitter.im/.." class="nav-link" target="_blank">Chat</a></li>
    </ul></li>
    <li><h4>News</h4></li>
    <li><ul>
      <li><a href="https://twitter.com/<%- config.twitter %>" class="nav-link" target="_blank">Twitter</a></li>
      <li><a href="<%- config.blog %>" class="nav-link" target="_blank">Blog</a></li>
    </ul></li>
  </ul>
</li>
