<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="//docs.faalis.io" class="nav-link">Guide</a></li>
<li><a href="//api.faalis.io" class="nav-link">API</a></li>
<%- partial('partials/ecosystem_dropdown') %>_
<% partial('partials/language_dropdown') %>
