<a href="https://stdlib.com/" target="_blank" style="width: 180px">
  <img style="width: 180px" src="<%- url_for("/images/stdlib.png") %>">
</a>
<br>
<a href="https://deepstreamhub.com" target="_blank" style="width:130px;top:1px">
  <img src="<%- url_for("/images/deepstream.png") %>" style="width:130px">
</a>
