<a href="https://yellowen.com/" target="_blank" style="width: 180px">
  <img style="width: 180px" src="https://camo.githubusercontent.com/e913d64588322eeb3ce8caae0ad9a53512ba6dfb/687474703a2f2f7777772e79656c6c6f77656e2e636f6d2f696d616765732f6c6f676f2e706e67">
</a>
<br>
<a href="https://codamic.tech" target="_blank" style="width:130px;top:1px">
  <img src="<%- url_for("/images/codamic.png") %>" style="width:130px">
</a>
